auth/*
!auth/README.md
*registry-build.json
*kubeconfig.txt 
tmp/*
!tmp/README.md
azure/*
!azure/README.md
aws/*
!aws/createawscluster.sh
!aws/README.md
config.sh
*config.sh
logs/*
!logs/README.md
.openshift_install*
tls/*
installers/*
!installers/README.md
openshift-install
